@model IEnumerable<Episode>

@if (Model.Any())
{
    foreach (var episode in Model)
    {
        <div data-sort="">
            <input asp-for="@episode.Season" type="hidden" />
            <input asp-for="@episode.Name" type="hidden" />
            <input asp-for="@episode.PosterUrl" type="hidden" />
            <input asp-for="@episode.Overview" type="hidden" />
            <input asp-for="@episode.Cast" type="hidden" />
            <input asp-for="@episode.Director" type="hidden" />
            <input asp-for="@episode.Gener" type="hidden" />
            <input asp-for="@episode.ReleaseDate" type="hidden" />
            <input asp-for="@episode.Runtime" type="hidden" />
            <input asp-for="@episode.Rating" type="hidden" />
        </div>
    }
}
@*<div class="form-group col-md-3">
        <label asp-for="Source"></label>
        <div class="directory-browser-container">
            <input asp-for="Source" class="form-control" placeholder="URL or browse servers" />
            <button type="button" class="directory-browser-btn main-btn" data-toggle="modal" data-target="#directory-browser">
                <i class="fa fa-folder-open"></i>
            </button>
        </div>
        <span class="text-danger" asp-validation-for="Source"></span>
    </div>*@
