@model IEnumerable<Category>
@{
    ViewData["Title"] = "Manage Categories";
    ViewData["Icon"] = "list";
}

@section Styles {
    <link href="~/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
}
<form method="post"></form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr id="@category.Id">
                <td>@category.Name</td>
                <td>@category.CategoryType</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@category.Id"><i class="fa fa-edit"></i></a>
                    <form asp-action="Delete" asp-route-id="@category.Id"> 
                        <a  onclick="return confirm('Are you sure you want to delete this item?');"
                           class="btn btn-danger" id="delete" value="Delete"><i class="fa fa-trash"></i></a>

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/datatables/js/jquery.dataTables.js"></script>
    <script src="~/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $('table').DataTable();
        $('.del').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var id = $(this).data('id');
            $.ajax({
                method: 'POST',
                url: url,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify({ Id: id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    $('#' + id).remove();
                }
            })
        });
    </script>

}

