@model IEnumerable<Category>
@{
    ViewData["Title"] = "Manage Categories";
    ViewData["Icon"] = "list";
}

<partial name="~/Views/Partials/_Search.cshtml"/>

<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr id="@category.Id">
                <td>@category.Name</td>
                <td>@category.CategoryType</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@category.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <form asp-action="Delete" 
                          asp-route-id="@category.Id" 
                          style="display:inline" 
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

