@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Manage Movies";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />
<partial name="~/Views/Partials/_Search.cshtml" />

<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Category.Name</td>
                <td id="state-@movie.Id">
                    @{
                        string stateClass = "warning";
                        if (movie.State == StreamState.Ready)
                        {
                            stateClass = "success";
                        }
                    }
                    <i class="fa fa-circle text-@stateClass"></i> @movie.State
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="details" asp-route-id="@movie.Id"><i class="fa fa-info-circle"></i></a>
                    <a class="btn btn-success" asp-action="edit" asp-route-id="@movie.Id"><i class="fa fa-edit"></i></a>
                    <form asp-action="delete"
                          asp-route-id="@movie.Id"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/movie-status-hub").build();
            connection.start();
            connection.on("Update", function (data) {
                var stateIndicator = $(`#state-${data.sourceId}`);
                if (data.state === 2) {
                    stateIndicator.html('<i class="fa fa-circle text-success"></i> READY');
                }
            });
        });
    </script>
}
