@model IEnumerable<Transcode>
@{
    ViewData["Title"] = "Manage Trnscodes";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />
<partial name="~/Views/Partials/_Search.cshtml" />

<hr />

<div class="row">
    @foreach (var transcode in Model)
    {
        <div class="col-sm-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">@transcode.Name</h5>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-video-camera text-primary"></i> <span class="text-secondary">@transcode.VideoCodec</span>
                            </div>
                            <div class="col-md-6">
                                <i class="fa fa-volume-up text-primary"></i> <span class="text-secondary">@transcode.AudioCodec</span>
                            </div>
                        </div>
                    </p>
                    <hr />
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@transcode.Id" title="Edit"><i class="fa fa-edit"></i></a>
                    <form asp-action="Delete"
                          asp-route-id="@transcode.Id"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-secondary" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
