@model IEnumerable<Transcode>
@{
    ViewData["Title"] = "Manage Trnscodes";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />
<partial name="~/Views/Partials/_Search.cshtml" />

<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>

            <th>Name</th>
            <th>Video Codec</th>
            <th>Audio Codec</th>
            <th>hardware state</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transcode in Model)
        {
            <tr id="@transcode.Id">
                <td>@transcode.Name</td>
                <td>@transcode.VideoCodec</td>
                <td>@transcode.AudioCodec</td>
                <td>@transcode.Hardware</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@transcode.Id">
                        <i class="fa fa-edit"></i>
                    </a>
                    <form asp-action="Delete"
                          asp-route-id="@transcode.Id"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

