@model IEnumerable<Stream>
@{
    ViewData["Title"] = "Manage Streams";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />
<partial name="~/Views/Partials/_Search.cshtml" />

<hr />

<div class="row">
    @foreach (var stream in Model)
    {
        string stateClass = "danger";
        string iconName = null;
        int currentStreamState = (int)StreamState.Live;

        if (stream.State == StreamState.Live)
        {
            stateClass = "success";
        }

        if (stream.State == StreamState.Live)
        {
            iconName = "pause";
            currentStreamState = (int)StreamState.Stopped;
        }
        else if (stream.State == StreamState.Stopped)
        {
            iconName = "play";
            currentStreamState = (int)StreamState.Live;
        }
        <div class="col-sm-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">@stream.Name</h5>
                    <p class="card-text">
                        <div id="@stream.Id" class="text-secondary">
                            <i class="fa fa-circle text-@stateClass"></i> @stream.State
                        </div>
                    </p>
                    <hr />
                    <button id="btn-@stream.Id"
                            class="stream-state-btn btn btn-secondary"
                            data-stream-id="@stream.Id"
                            data-stream-state="@currentStreamState"
                            title="Start / Stop Stream">
                        <i class="fa fa-@iconName"></i>
                    </button>
                    <a class="btn btn-secondary" asp-action="details" asp-route-id="@stream.Id" title="Info"><i class="fa fa-info-circle"></i></a>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@stream.Id" title="Edit"><i class="fa fa-edit"></i></a>
                    <form asp-action="Delete"
                          asp-route-id="@stream.Id"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-secondary" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/stream-status-hub").build();
            connection.on("Update", function (data) {
                var btn = $(`#btn-${data.sourceId}`);
                var stateIndicator = $(`#state-${data.sourceId}`);
                btn.removeAttr("disabled");
                if (data.state === 1) {
                    stateIndicator.html('<i class="fa fa-circle text-success"></i> Live');
                    btn.attr("data-stream-state", "0").html('<i class="fa fa-pause"></i>');
                } else if (data.state === 0) {
                    stateIndicator.html('<i class="fa fa-circle text-danger"></i> Stopped');
                    btn.attr("data-stream-state", "1").html('<i class="fa fa-play"></i>');
                }
            });
            connection.start();
            $(".stream-state-btn").on("click", function () {
                var streamId = parseInt($(this).attr("data-stream-id"));
                var streamState = parseInt($(this).attr("data-stream-state"));
                $(this).attr("disabled", "disabled").html('<i class="fa fa-fw fa-spinner fa-pulse"></i>');
                connection.invoke("Update", streamId, streamState);
            });
        });
    </script>
}
