@model IEnumerable<Server>
@{
    ViewData["Title"] = "Manage Servers";
    ViewData["Icon"] = "server";
}

<partial name="~/Views/Partials/_Search.cshtml" />

<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ip</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var server in Model)
        {
            <tr>
                <td>@server.Name</td>
                <td>@server.Ip</td>
                <td id="@server.Id">
                    @{ string stateClass = "warning"; }
                    @if (server.ServerState == ServerState.ONLINE)
                    {
                        stateClass = "success";
                    }
                    else if (server.ServerState == ServerState.OFFLINE)
                    {
                        stateClass = "danger";
                    }
                    <i class="fa fa-circle text-@stateClass"></i> @server.ServerState
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="details" asp-route-id="@server.Id"><i class="fa fa-info-circle"></i></a>
                    <a class="btn btn-success" asp-action="edit" asp-route-id="@server.Id"><i class="fa fa-edit"></i></a>
                    <form asp-action="delete"
                          asp-route-id="@server.Id"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/server-status-hub").build();
        connection.on("UpdateSignal", function (data) {
            var className = 'warning';
            var statusName = 'PROCESSING';
            if (data.state === 1) {
                className = 'success';
                statusName = 'ONLINE';
            } else if (data.state === 2) {
                className = 'danger';
                statusName = 'OFFLINE';
            }
            $(`#${data.id}`).html(`<i class="fa fa-circle text-${className}"></i> ${statusName}`);
        });
        connection.start();
    </script>
}
