@model IEnumerable<Server>
@{
    ViewData["Title"] = "Manage Servers";
}

<partial name="~/Views/Partials/_Navigation.cshtml" />

<div class="row">
    @foreach (var server in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">@server.Name</h5>
                    <p class="card-text">
                        @{ string stateClass = "warning"; }
                        @if (server.ServerState == ServerState.Online)
                        {
                            stateClass = "success";
                        }
                        else if (server.ServerState == ServerState.Offline || server.ServerState == ServerState.ConfigureFailed)
                        {
                            stateClass = "danger";
                        }
                        <div id="@server.Id" class="text-secondary">
                            <i class="fa fa-circle text-@stateClass"></i> @server.ServerState
                        </div>
                        <div class="text-secondary">
                            <i class="fa fa-server text-primary"></i> <span class="text-secondary">@server.Ip</span>
                        </div>
                        <div class="text-secondary">
                            <i class="fa fa-plug text-primary"></i> <span class="text-secondary">SSH Port @server.SshPort</span>
                        </div>
                    </p>
                    <hr />
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@server.Id" title="Edit"><i class="fa fa-edit"></i></a>
                    <form asp-action="Delete"
                          asp-route-id="@server.Id"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to proceed?')">
                        <button class="btn btn-secondary" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/server-status-hub").build();
        connection.on("UpdateSignal", function (data) {
            var className = 'warning';
            var statusName = 'Configuring';
            if (data.state === 1) {
                className = 'success';
                statusName = 'Online';
            } else if (data.state === 2) {
                className = 'danger';
                statusName = 'Offline';
            } else if (data.state === 3) {
                className = 'danger';
                statusName = 'Fail';
            }
            $(`#${data.id}`).html(`<i class="fa fa-circle text-${className}"></i> ${statusName}`);
        });
        connection.start();
    </script>
}
