@inject SignInManager<AppUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

    <link href="~/css/dashboard.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="m-0 p-0 font-weight-bold"><i class="fas fa-podcast"></i> Streamia</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a asp-controller="home" asp-action="dashboard"><i class="fa fa-home"></i> Home</a>
                </li>

                @if (signInManager.IsSignedIn(User))
                {
                    <li>
                        <a href="#panelSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-sliders-h"></i> System
                        </a>
                        <div class="collapse list-unstyled" id="panelSubmenu">
                            <a asp-controller="servers" asp-action="manage">
                                <i class="fas fa-server"></i> Servers
                            </a>
                            <a asp-controller="Transcodes" asp-action="manage">
                                <i class="fas fa-code"></i> Transcodes
                            </a>
                            <a asp-controller="logs" asp-action="general">
                                <i class="fas fa-archive"></i> Log Center
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="#mediaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-film"></i> Media
                        </a>
                        <div class="collapse list-unstyled" id="mediaSubmenu">
                            <a asp-controller="streams" asp-action="manage">
                                <i class="fas fa-wave-square"></i> Streams
                            </a>
                            <a asp-controller="movies" asp-action="manage">
                                <i class="fas fa-video"></i> Movies
                            </a>
                            <a asp-controller="serieses" asp-action="manage">
                                <i class="fas fa-play"></i> Serieses
                            </a>
                            <a asp-controller="channels" asp-action="manage">
                                <i class="fas fa-stream"></i> Channles
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#businessSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-id-card"></i> Business
                        </a>
                        <div class="collapse list-unstyled" id="businessSubmenu">
                            <a asp-controller="bouquets" asp-action="manage">
                                <i class="fas fa-tags"></i> Bouquets
                            </a>
                            <a asp-controller="iptvusers" asp-action="manage">
                                <i class="fas fa-user"></i> IPTV Users
                            </a>
                            <a asp-controller="categories" asp-action="manage">
                                <i class="fas fa-share-alt"></i> Categories
                            </a>
                            <a asp-controller="resellers" asp-action="manage">
                                <i class="fas fa-users"></i> Resellers
                            </a>
                        </div>
                    </li>
                }


                @if (signInManager.IsSignedIn(User))
                {
                    <li>
                        <a asp-controller="settings" asp-action="general"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                }
            </ul>
        </nav>

        <div id="content">
            <div class="content-overlay">
                <div class="bg-light mb-3 p-2">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>@ViewData["Title"]</strong>
                        </div>
                        <div class="col-md-4">
                            @if (!ViewData.ContainsKey("DisableSearch"))
                            {
                                <partial name="~/Views/Partials/_Search.cshtml" />
                            }
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="profile-name">@(User.Identity.Name ?? "BETA BUILD")</span>
                            <form class="d-inline" method="post" asp-controller="account" asp-action="logout">
                                <button class="btn btn-outline-danger">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

    <script>
        $('#sidebar li a').each(function () {
            let urlPart = window.location.pathname.toLowerCase().split('/')[1];
            let currentHref = $(this).attr('href').toLowerCase();
            if (
                window.location.pathname.toLowerCase() === currentHref ||
                (currentHref.includes(urlPart) && urlPart != '')
            ) {
                $(this).addClass('active');
                $(this).parent().addClass('show');
            }
        });
    </script>
</body>
</html>
