@inject SignInManager<AdminUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"]</title>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    @RenderSection("Styles", required: false)

    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="m-0 p-0 font-weight-bold"><i class="fa fa-podcast"></i> Streamia</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-controller="servers" asp-action="add">
                            <i class="fa fa-server"></i> Servers
                        </a>
                    </li>
                    <li>
                        <a asp-controller="streams" asp-action="add">
                            <i class="fa fa-tv"></i> Streams
                        </a>
                    </li>
                    <li>
                        <a asp-controller="channels" asp-action="add">
                            <i class="fa fa-podcast"></i> Channles
                        </a>
                    </li>
                    <li>
                        <a asp-controller="movies" asp-action="add">
                            <i class="fa fa-film"></i> Movies
                        </a>
                    </li>
                    <li>
                        <a asp-controller="serieses" asp-action="add">
                            <i class="fa fa-video-camera"></i> Serieses
                        </a>
                    </li>
                    <li>
                        <a asp-controller="bouquets" asp-action="add">
                            <i class="fa fa-cubes"></i> Bouquets
                        </a>
                    </li>
                    <li>
                        <a asp-controller="categories" asp-action="add">
                            <i class="fa fa-share-alt"></i> Categories
                        </a>
                    </li>
                }

                <li>
                    <a asp-controller="iptvusers" asp-action="add">
                        <i class="fa fa-user"></i> IPTV Users
                    </a>
                </li>
                <li>
                    <a asp-controller="resellers" asp-action="add">
                        <i class="fa fa-users"></i> Resellers
                    </a>
                </li>

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-controller="settings" asp-action="general"><i class="fa fa-gears"></i> Settings</a>
                    </li>
                    <li>
                        <a asp-controller="logs" asp-action="general"><i class="fa fa-file-archive-o"></i> Log Center</a>
                    </li>
                }

            </ul>
        </nav>

        <div id="content">
            <div class="content-overlay">
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    <script src="~/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

    <script>
        $('#sidebar li a, .navigation-link').each(function () {
            if (window.location.pathname.toLowerCase() === $(this).attr('href').toLowerCase()) {
                $(this).addClass('active');
            }
        });
    </script>
</body>
</html>


@*
@{
    string profileName = User.Identity.GetName();
    string profilePicture = User.Identity.ProfilePicture();

    if (string.IsNullOrEmpty(profileName))
    {
        profileName = "DEV ACCOUNT";
    }
    if (string.IsNullOrEmpty(profilePicture))
    {
        profilePicture = "user.png";
    }
}
<span class="profile-name">@profileName</span>
<img class="profile-picture" src="~/Pictures/@profilePicture" />
<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">
    <i class="fa fa-close"></i> Logout
</a>*@